

{{#each dbArticle}}
    <div class="card">
    <a href="{{link}}">
        <div class="card-header">
            <p class="h3 text-dark">{{title}}</p>
        </div>
    </a> 
    <div class="card-body">
        {{#if summary}}
            <p class="card-text">{{summary}}</p>
        {{/if}}
        <button class="btn btn-outline-success" data-id={{id}} data-saved={{saved}}>Snip This!</button>
    </div>
    </div>
{{/each}}








